
* {
  border: 0;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Frutiger LT 45 Light';
    src: url('fonts/FrutigerLT-Light.eot');
    src: url('fonts/FrutigerLT-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrutigerLT-Light.woff2') format('woff2'),
        url('fonts/FrutigerLT-Light.woff') format('woff'),
        url('fonts/FrutigerLT-Light.ttf') format('truetype'),
        url('fonts/FrutigerLT-Light.svg#FrutigerLT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger LT 55 Roman';
    src: url('fonts/FrutigerLT-Roman.eot');
    src: url('fonts/FrutigerLT-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrutigerLT-Roman.woff2') format('woff2'),
        url('fonts/FrutigerLT-Roman.woff') format('woff'),
        url('fonts/FrutigerLT-Roman.ttf') format('truetype'),
        url('fonts/FrutigerLT-Roman.svg#FrutigerLT-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Frutiger LT 65 Bold';
    src: url('fonts/FrutigerLTStd-Bold.eot');
    src: url('fonts/FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrutigerLTStd-Bold.woff2') format('woff2'),
        url('fonts/FrutigerLTStd-Bold.woff') format('woff'),
        url('fonts/FrutigerLTStd-Bold.ttf') format('truetype'),
        url('fonts/FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Frutiger LT 75 Black';
    src: url('fonts/Frutiger75-Black.eot');
    src: url('fonts/Frutiger75-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Frutiger75-Black.woff2') format('woff2'),
        url('fonts/Frutiger75-Black.woff') format('woff'),
        url('fonts/Frutiger75-Black.ttf') format('truetype'),
        url('fonts/Frutiger75-Black.svg#Frutiger75-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}



html, body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #13a656;
  
}

span{
  margin: 0;
  padding: 0;
  border: 0;
}

.item{
  height: 60px;
  width: 100%;
  text-align: center;
}

.fonts{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   height: 200px;
}

.title{
  font-family: 'Frutiger LT 75 Black';
  color: #fbcf0a;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.light-45{
  font-family: 'Frutiger LT 45 Light';
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

.roman-45{
  font-family: 'Frutiger LT 55 Roman';
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

.bold-65{
  font-family: 'Frutiger LT 65 Bold';
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

.black-75{
  font-family: 'Frutiger LT 75 Black';
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

/* ===== Setting ====== */
